* {
    padding: 0;
    margin: 0;
  }

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
}

#output {
    height: 40px;
    width: 100%;
    background-color: blue;
    color: white;
    flex-grow: 2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline {
}

.btn {
    padding: 20px;
    width: 60px;
}

.btn-container {
    justify-content: space-between;
}

#zero {
    width: 125px;
}

