* {
    padding: 0;
    margin: 0;
  }

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    align-items: center;

}

#output, #result-output {
    height: 40px;
    width: 100%;
    color: white;
    flex-grow: 2;
    display: flex;
    flex-direction: row-reverse;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.outline {
    background-color: black;
    border-radius: 2px;
    padding: 10px;
    border: 2px solid white;
}

.btn {
    padding: 20px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

.btn-container {
    justify-content: space-between;
}

#zero {
    width: 125px;
    border-radius: 5%;
}

.row {
    margin: 3px 0px;
}

.btn-grey {
    background-color: #b7b7b7;
}

.btn-orange {
    background-color: #fa980b;
    color: white;
}

.btn-orange:hover {
    background-color: white;
    color: #fa980b;
}

.btn-number {
    background-color: #373735;
    color: white;
}

.btn-number:hover {
    background-color: #575754;
}

.btn-grey:hover {
    background-color: white;
    color: black;
}

.btn {
    transition: 0.15s;
}

#decimal {
    background-color: #373735;
    color: white;
}

#decimal:hover {
    background-color: #575754;
}

.footer {
    
}

#footer-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#footer-text a {
    color: white;
    text-decoration: none;
}

#footer-text a:hover {
    color: #fa980b;
}